* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body.modal-open {
  padding-right: 0 !important; }

.hide {
  display: none; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header .spinner {
    background-color: transparent;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000; }
    header .spinner .carga {
      border: 15px solid #001219ff;
      border-top-color: #ee9b00ff;
      border-top-style: groove;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      -webkit-animation: girar 1.5s linear infinite;
      -o-animation: girar 1.5s linear infinite;
      animation: girar 1.5s linear infinite; }

@keyframes girar {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  header .encabezado-1 {
    width: 100%;
    height: 150px;
    background-image: url(../img/1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; }
  header .indexLogo {
    background-image: url(../img/platos-cuatro.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .indexLogo a img {
      margin-top: 70px;
      border-radius: 10px; }
  header .bajada {
    background-color: #ee9b00ff;
    font-family: "Encode Sans", sans-serif;
    height: 170px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9; }
    header .bajada h2 {
      color: #001219ff;
      font-weight: bold; }
    header .bajada p {
      font-family: "Encode Sans", sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
      margin-left: 180px;
      margin-right: 180px; }
  header .redes {
    padding-left: 10px; }
    header .redes a img {
      height: 30px;
      width: 30px;
      transition: 1s; }
      header .redes a img:hover {
        transform: scale(1.5); }
  header .encabezado-2 {
    width: 100%;
    height: 150px;
    background-image: url(../img/2-platos-cuatro.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9; }
    header .encabezado-2 .btn {
      background-color: #001219ff;
      border-color: #001219ff;
      text-align: center;
      font-weight: bold;
      font-family: "Encode Sans", sans-serif; }
      header .encabezado-2 .btn:hover {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff;
        font-weight: bold; }
  header .datosPersonales {
    font-family: "Encode Sans", sans-serif;
    text-align: center;
    color: #001219ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; }
    header .datosPersonales .primeraVez #modal-primeravez {
      font-family: "Encode Sans", sans-serif; }
      header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content {
        background-color: #e9d8a6ff; }
        header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-header {
          display: flex;
          flex-direction: column-reverse; }
          header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-header .modal-title {
            color: #ee9b00ff;
            font-weight: bold;
            text-align: center;
            font-size: 1.5rem; }
        header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body .subtitulo {
          text-align: center;
          color: #001219ff;
          font-weight: bold;
          padding-top: 10px;
          margin-left: 30px;
          margin-right: 30px; }
        header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-left: 70px;
          margin-right: 70px;
          margin-top: 20px; }
          header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs {
            display: flex;
            flex-direction: row; }
            header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .nombre {
              padding: 10px;
              color: #001219ff; }
              header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .nombre .form-control {
                border: 0; }
                header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .nombre .form-control:focus {
                  box-shadow: none;
                  outline: none; }
            header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .pais {
              padding: 10px;
              color: #001219ff; }
              header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .pais .form-control {
                border: 0; }
                header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .pais .form-control:focus {
                  box-shadow: none;
                  outline: none; }
            header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .telefono {
              padding: 10px;
              color: #001219ff; }
              header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .telefono .form-control {
                border: 0; }
                header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .telefono .form-control:focus {
                  box-shadow: none;
                  outline: none; }
            header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .correoElectronico {
              width: 250px;
              padding: 10px;
              color: #001219ff; }
              header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .correoElectronico .form-control {
                border: 0; }
                header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs .correoElectronico .form-control:focus {
                  box-shadow: none;
                  outline: none; }
          header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .botones {
            display: flex;
            flex-direction: row;
            align-items: center; }
            header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .botones #btn-carga {
              background-color: #ee9b00ff;
              border-color: #ee9b00ff;
              color: #001219ff;
              width: 130px;
              height: 40px;
              font-weight: bold;
              margin-bottom: 30px;
              text-align: center;
              margin: 20px; }
              header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .botones #btn-carga:hover {
                background-color: #001219ff;
                border-color: #001219ff;
                color: #ee9b00ff; }
            header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .botones #btn-relogueo {
              background-color: #ee9b00ff;
              border-color: #ee9b00ff;
              color: #001219ff;
              width: 130px;
              height: 40px;
              font-weight: bold;
              margin-bottom: 30px;
              margin: 20px; }
              header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .botones #btn-relogueo:hover {
                background-color: #001219ff;
                border-color: #001219ff;
                color: #ee9b00ff; }
    header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content {
      background-color: #e9d8a6ff; }
      header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-header {
        font-family: "Encode Sans", sans-serif; }
      header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-body h1 {
        color: #ee9b00ff;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem; }
        header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-body h1 .strong {
          text-decoration: underline; }
      header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-body p {
        font-size: 1rem;
        font-weight: bold; }
        header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-body p strong {
          color: #ee9b00ff; }
      header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-footer #btn-volver {
          background-color: #ee9b00ff;
          border-color: #ee9b00ff;
          color: #001219ff;
          width: 170px;
          height: 40px;
          font-weight: bold;
          margin-bottom: 30px;
          text-align: center;
          margin: 15px; }
          header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-footer #btn-volver:hover {
            background-color: #001219ff;
            border-color: #001219ff;
            color: #ee9b00ff; }
        header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-footer #btn-aceptar {
          background-color: #ee9b00ff;
          border-color: #ee9b00ff;
          color: #001219ff;
          width: 130px;
          height: 40px;
          font-weight: bold;
          margin-bottom: 30px;
          text-align: center;
          margin: 15px; }
          header .datosPersonales .primeraVez #modal-confirmacion .modal-dialog .modal-content .modal-footer #btn-aceptar:hover {
            background-color: #001219ff;
            border-color: #001219ff;
            color: #ee9b00ff; }

.hide {
  display: none; }

main {
  background-color: #e9d8a6ff; }
  main .cuestionario {
    font-family: "Encode Sans", sans-serif;
    background-color: #e9d8a6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main .cuestionario .grillaPreguntas {
      margin-bottom: 30px; }
      main .cuestionario .grillaPreguntas .saludo {
        text-align: center; }
      main .cuestionario .grillaPreguntas .tipoIngredientes {
        text-align: center;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        main .cuestionario .grillaPreguntas .tipoIngredientes .titulo-3 {
          text-align: center;
          color: #ee9b00ff;
          font-weight: bold;
          margin-top: 10px;
          padding-bottom: 20px; }
        main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion {
          border: #001219ff 2px solid;
          color: #ee9b00ff;
          border-radius: 10px;
          width: 100%; }
          main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion h6 {
            font-weight: bold;
            margin-top: 10px; }
          main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .seleccionIngredientes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-left: 30px;
            padding-right: 30px; }
            main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .seleccionIngredientes article .contenedor {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .seleccionIngredientes article .contenedor img {
                padding-left: 10px;
                padding-right: 10px;
                border: none;
                background-color: transparent;
                color: #001219ff;
                font-weight: bold; }
                main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .seleccionIngredientes article .contenedor img:hover {
                  transform: scale(1.1); }
              main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .seleccionIngredientes article .contenedor p {
                font-weight: bold;
                color: #ee9b00ff; }
          main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
            main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes article .contenedor {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes article .contenedor img {
                padding-left: 30px;
                padding-right: 30px;
                border: none;
                background-color: transparent;
                color: #001219ff;
                font-weight: bold; }
                main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes article .contenedor img:hover {
                  transform: scale(1.1); }
              main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes article .contenedor p {
                font-weight: bold;
                color: #001219ff; }
    main .cuestionario #btn-final {
      background-color: #001219ff;
      border-color: #001219ff;
      text-align: center;
      font-weight: bold;
      width: 150px;
      height: 40px; }
      main .cuestionario #btn-final:hover {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff; }
      main .cuestionario #btn-final a {
        text-decoration: none;
        color: #ee9b00ff;
        font-weight: bold;
        text-align: center; }
        main .cuestionario #btn-final a:hover {
          color: #001219ff; }
  main #modal-receta .modal-dialog .modal-content {
    font-family: "Encode Sans", sans-serif;
    background-color: #e9d8a6ff; }
    main #modal-receta .modal-dialog .modal-content .modal-header {
      display: flex;
      flex-direction: column; }
      main #modal-receta .modal-dialog .modal-content .modal-header .btn-close {
        color: #ee9b00ff; }
      main #modal-receta .modal-dialog .modal-content .modal-header .modal-title {
        color: #ee9b00ff;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem; }
      main #modal-receta .modal-dialog .modal-content .modal-header p {
        font-size: 1rem;
        font-weight: bold; }
        main #modal-receta .modal-dialog .modal-content .modal-header p strong {
          color: #ee9b00ff; }
    main #modal-receta .modal-dialog .modal-content .modal-body {
      font-family: "Encode Sans", sans-serif; }
      main #modal-receta .modal-dialog .modal-content .modal-body .recetaFinal {
        text-align: center; }
        main #modal-receta .modal-dialog .modal-content .modal-body .recetaFinal h4 {
          text-align: center;
          text-decoration: underline;
          font-weight: bold;
          color: #ee9b00ff;
          font-size: 1.2rem; }
        main #modal-receta .modal-dialog .modal-content .modal-body .recetaFinal img {
          text-align: center;
          width: 100%;
          height: 100%; }
        main #modal-receta .modal-dialog .modal-content .modal-body .recetaFinal p {
          margin-top: 15px; }
        main #modal-receta .modal-dialog .modal-content .modal-body .recetaFinal a {
          text-decoration: none;
          color: #ee9b00ff;
          font-weight: bold; }
        main #modal-receta .modal-dialog .modal-content .modal-body .recetaFinal button {
          text-align: center;
          background-color: #ee9b00ff;
          border-color: #ee9b00ff;
          color: #001219ff;
          font-weight: bold; }
          main #modal-receta .modal-dialog .modal-content .modal-body .recetaFinal button:hover {
            background-color: #001219ff;
            border-color: #001219ff;
            color: #ee9b00ff; }
      main #modal-receta .modal-dialog .modal-content .modal-body .noRecetaFinal {
        text-align: center;
        font-weight: bold;
        color: #001219ff;
        font-size: 1.2rem; }
    main #modal-receta .modal-dialog .modal-content .modal-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      main #modal-receta .modal-dialog .modal-content .modal-footer #btn-cerrar {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff;
        color: #001219ff;
        width: 110px;
        height: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        margin: 15px; }
        main #modal-receta .modal-dialog .modal-content .modal-footer #btn-cerrar:hover {
          background-color: #001219ff;
          border-color: #001219ff;
          color: #ee9b00ff; }
      main #modal-receta .modal-dialog .modal-content .modal-footer #btn-whatsapp {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff;
        color: #001219ff;
        width: 210px;
        height: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        margin: 15px; }
        main #modal-receta .modal-dialog .modal-content .modal-footer #btn-whatsapp:hover {
          background-color: #001219ff;
          border-color: #001219ff;
          color: #ee9b00ff; }
  main #modal-whatsapp .modal-dialog .modal-content {
    font-family: "Encode Sans", sans-serif;
    background-color: #e9d8a6ff; }
    main #modal-whatsapp .modal-dialog .modal-content .modal-header {
      display: flex;
      flex-direction: column; }
      main #modal-whatsapp .modal-dialog .modal-content .modal-header .modal-title {
        color: #ee9b00ff;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem; }
    main #modal-whatsapp .modal-dialog .modal-content .modal-body p {
      font-size: 1rem;
      font-weight: bold;
      text-align: center; }
      main #modal-whatsapp .modal-dialog .modal-content .modal-body p strong {
        color: #ee9b00ff; }
    main #modal-whatsapp .modal-dialog .modal-content .modal-footer {
      display: flex;
      align-items: center;
      justify-content: center; }
      main #modal-whatsapp .modal-dialog .modal-content .modal-footer #btn-aceptar-wpp {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff;
        color: #001219ff;
        text-align: center;
        font-weight: bold;
        width: 110px;
        height: 40px; }
        main #modal-whatsapp .modal-dialog .modal-content .modal-footer #btn-aceptar-wpp:hover {
          background-color: #001219ff;
          border-color: #001219ff;
          color: #ee9b00ff; }
  main #modal-recomendados .modal-dialog .modal-content {
    font-family: "Encode Sans", sans-serif;
    background-color: #e9d8a6ff; }
    main #modal-recomendados .modal-dialog .modal-content .modal-header {
      display: flex;
      flex-direction: column; }
      main #modal-recomendados .modal-dialog .modal-content .modal-header .modal-title {
        color: #ee9b00ff;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem; }
    main #modal-recomendados .modal-dialog .modal-content .modal-body {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
      main #modal-recomendados .modal-dialog .modal-content .modal-body .form-floating .form-control {
        height: 200px;
        width: 400px;
        text-align: start; }
      main #modal-recomendados .modal-dialog .modal-content .modal-body #btn-aceptar-recomendados {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff;
        color: #001219ff;
        text-align: center;
        font-weight: bold;
        width: 110px;
        height: 40px;
        margin-top: 10px; }
        main #modal-recomendados .modal-dialog .modal-content .modal-body #btn-aceptar-recomendados:hover {
          background-color: #001219ff;
          border-color: #001219ff;
          color: #ee9b00ff; }
  main #modal-confirmacion-recomendacion .modal-dialog .modal-content {
    font-family: "Encode Sans", sans-serif;
    background-color: #e9d8a6ff; }
    main #modal-confirmacion-recomendacion .modal-dialog .modal-content .modal-body .modal-title {
      color: #ee9b00ff;
      font-weight: bold;
      text-align: center;
      font-size: 1.5rem; }
    main #modal-confirmacion-recomendacion .modal-dialog .modal-content .modal-footer {
      display: flex;
      align-items: center;
      justify-content: center; }
      main #modal-confirmacion-recomendacion .modal-dialog .modal-content .modal-footer #btn-volver {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff;
        color: #001219ff;
        text-align: center;
        font-weight: bold;
        width: 110px;
        height: 60px; }
        main #modal-confirmacion-recomendacion .modal-dialog .modal-content .modal-footer #btn-volver:hover {
          background-color: #001219ff;
          border-color: #001219ff;
          color: #ee9b00ff; }
      main #modal-confirmacion-recomendacion .modal-dialog .modal-content .modal-footer #btn-confirmar {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff;
        color: #001219ff;
        text-align: center;
        font-weight: bold;
        width: 110px;
        height: 60px; }
        main #modal-confirmacion-recomendacion .modal-dialog .modal-content .modal-footer #btn-confirmar:hover {
          background-color: #001219ff;
          border-color: #001219ff;
          color: #ee9b00ff; }
  main .recomendaciones {
    margin-top: 30px; }
    main .recomendaciones .titleRecomendaciones {
      font-family: "Encode Sans", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: #001219ff;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px; }
    main .recomendaciones .textRecomendaciones {
      font-family: "Encode Sans", sans-serif;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      margin-left: 180px;
      margin-right: 180px; }
      main .recomendaciones .textRecomendaciones strong {
        color: #ee9b00ff; }
    main .recomendaciones .tarjetasRecomendaciones .card-group {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      padding-bottom: 30px;
      border-radius: 10%; }
      main .recomendaciones .tarjetasRecomendaciones .card-group .card {
        display: flex;
        justify-content: center;
        width: 236px;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
        border-color: #001219ff;
        border: #001219ff 1.5px solid; }
        main .recomendaciones .tarjetasRecomendaciones .card-group .card img {
          display: flex;
          justify-content: center;
          text-align: center;
          border-radius: 10px; }
        main .recomendaciones .tarjetasRecomendaciones .card-group .card .card-body .card-title {
          font-family: "Encode Sans", sans-serif;
          font-size: 1.2rem;
          font-weight: bold;
          color: #ee9b00ff; }
        main .recomendaciones .tarjetasRecomendaciones .card-group .card .card-body .card-text {
          font-family: "Encode Sans", sans-serif;
          color: #001219ff; }
        main .recomendaciones .tarjetasRecomendaciones .card-group .card a {
          font-family: "Encode Sans", sans-serif;
          font-weight: bold;
          color: #ee9b00ff; }
        main .recomendaciones .tarjetasRecomendaciones .card-group .card .card-footer {
          font-family: "Encode Sans", sans-serif;
          color: #001219ff;
          font-weight: bold; }
  main .hrDivisor {
    color: #ee9b00ff;
    border: #ee9b00ff 2px solid;
    margin-top: 40px; }
  main .hrSeleccion {
    color: #001219ff;
    border: #001219ff 2px solid;
    margin-top: 40px; }

footer {
  width: 100%;
  height: 100%;
  background-color: #ee9b00ff;
  text-align: center;
  display: block; }
  footer p {
    font-weight: bold; }

@media screen and (max-width: 1100px) {
  main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
  main .recomendaciones .tarjetasRecomendaciones .card-group .card {
    width: 200px; } }

@media screen and (max-width: 1018px) {
  main .recomendaciones .tarjetasRecomendaciones .card-group .card {
    width: 190px; } }

@media screen and (max-width: 976px) {
  main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  main .cuestionario .grillaPreguntas .tipoIngredientes {
    display: flex; } }

@media screen and (max-width: 968px) {
  header .datosPersonales .primeraVez #modal-primeravez .modal-dialog .modal-content .modal-body form .inputs {
    flex-direction: column; }
  main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion {
    width: 100%; } }

@media screen and (max-width: 940px) {
  header .bajada {
    height: 200px; } }

@media screen and (max-width: 810px) {
  main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes article .contenedor img {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (max-width: 860px) {
  header .bajada p {
    margin-bottom: 10px; } }

@media screen and (max-width: 798px) {
  header .indexLogo a img {
    width: 300px;
    height: 170px; }
  header .bajada p {
    margin-left: 0px;
    margin-right: 0px; } }

@media screen and (max-width: 655px) {
  main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  main .recomendaciones .textRecomendaciones {
    margin-left: 10px;
    margin-right: 10px; } }

@media screen and (max-width: 575px) {
  header .bajada {
    height: 250px; }
  main .recomendaciones .tarjetasRecomendaciones .card-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  main .recomendaciones .tarjetasRecomendaciones .card-group .card {
    width: 300px; } }

@media screen and (max-width: 490px) {
  main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .ingredientes {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 430px) {
  main #modal-recomendados .modal-dialog .modal-content .modal-body .form-floating .form-control {
    height: 200px;
    width: 300px; } }

@media screen and (max-width: 350px) {
  header .bajada {
    height: 270px; } }
