* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*position: -webkit-sticky;
    position: sticky;
    top: 0;*/ }
  header .encabezado-1 {
    width: 100%;
    height: 150px;
    background-image: url(../img/1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; }
  header .indexLogo {
    background-image: url(../img/platos-cuatro.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .indexLogo a img {
      margin-top: 70px;
      border-radius: 10px; }
  header .bajada {
    background-color: #ee9b00ff;
    font-family: "Encode Sans", sans-serif;
    height: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9; }
    header .bajada h2 {
      color: #001219ff;
      font-weight: bold; }
    header .bajada p {
      font-family: "Encode Sans", sans-serif;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 180px;
      margin-right: 180px; }
  header .redes {
    padding-left: 10px; }
    header .redes a img {
      height: 30px;
      width: 30px;
      transition: 1s; }
      header .redes a img:hover {
        transform: scale(1.5); }
  header .encabezado-2 {
    width: 100%;
    height: 150px;
    background-image: url(../img/2-platos-cuatro.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9; }
    header .encabezado-2 .btn {
      background-color: #001219ff;
      border-color: #001219ff;
      text-align: center;
      font-weight: bold; }
      header .encabezado-2 .btn:hover {
        background-color: #ee9b00ff;
        border-color: #ee9b00ff; }
      header .encabezado-2 .btn a {
        text-decoration: none;
        color: #ee9b00ff;
        font-weight: bold; }
        header .encabezado-2 .btn a:hover {
          color: #001219ff; }

main {
  background-color: #e9d8a6ff; }
  main .cuestionario {
    font-family: "Encode Sans", sans-serif;
    background-color: #e9d8a6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main .cuestionario .grillaPreguntas {
      margin-bottom: 30px; }
      main .cuestionario .grillaPreguntas .tipoComida {
        text-align: center;
        color: #001219ff;
        margin-top: 15px; }
        main .cuestionario .grillaPreguntas .tipoComida .titulo-1 {
          text-align: center;
          color: #ee9b00ff;
          font-weight: bold;
          margin-top: 10px; }
        main .cuestionario .grillaPreguntas .tipoComida .seleccion {
          border: #001219ff 2px solid;
          color: #ee9b00ff;
          border-radius: 10px;
          width: 100%; }
          main .cuestionario .grillaPreguntas .tipoComida .seleccion h6 {
            font-weight: bold;
            margin-top: 10px; }
          main .cuestionario .grillaPreguntas .tipoComida .seleccion .seleccionComida {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-left: 30px;
            padding-right: 30px; }
          main .cuestionario .grillaPreguntas .tipoComida .seleccion .comidas {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr; }
            main .cuestionario .grillaPreguntas .tipoComida .seleccion .comidas article .contenedor {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding-bottom: 20px;
              padding-top: 10px; }
              main .cuestionario .grillaPreguntas .tipoComida .seleccion .comidas article .contenedor img {
                padding-left: 30px;
                padding-right: 30px;
                border: none;
                background-color: transparent;
                font-weight: bold; }
                main .cuestionario .grillaPreguntas .tipoComida .seleccion .comidas article .contenedor img:hover {
                  transform: scale(1.1); }
              main .cuestionario .grillaPreguntas .tipoComida .seleccion .comidas article .contenedor button {
                padding-left: 10px;
                padding-right: 10px;
                border: none;
                background-color: transparent;
                font-weight: bold; }
                main .cuestionario .grillaPreguntas .tipoComida .seleccion .comidas article .contenedor button:hover {
                  transform: scale(1.1); }
      main .cuestionario .grillaPreguntas .tipoIngredientes {
        text-align: center;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        main .cuestionario .grillaPreguntas .tipoIngredientes .titulo-2 {
          text-align: center;
          color: #ee9b00ff;
          font-weight: bold;
          margin-top: 10px; }
        main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion {
          border: #001219ff 2px solid;
          color: #ee9b00ff;
          border-radius: 10px;
          width: 100%; }
          main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion h6 {
            font-weight: bold;
            margin-top: 10px; }
          main .cuestionario .grillaPreguntas .tipoIngredientes .seleccion .seleccionIngredientes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-left: 30px;
            padding-right: 30px; }
        main .cuestionario .grillaPreguntas .tipoIngredientes .ingredientes {
          margin-top: 10px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr; }
          main .cuestionario .grillaPreguntas .tipoIngredientes .ingredientes article .contenedor {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            main .cuestionario .grillaPreguntas .tipoIngredientes .ingredientes article .contenedor img {
              padding-left: 30px;
              padding-right: 30px;
              border: none;
              background-color: transparent;
              color: #001219ff;
              font-weight: bold; }
              main .cuestionario .grillaPreguntas .tipoIngredientes .ingredientes article .contenedor img:hover {
                transform: scale(1.1); }
            main .cuestionario .grillaPreguntas .tipoIngredientes .ingredientes article .contenedor button {
              border: none;
              background-color: transparent;
              color: #001219ff;
              font-weight: bold; }
              main .cuestionario .grillaPreguntas .tipoIngredientes .ingredientes article .contenedor button:hover {
                transform: scale(1.1); }
      main .cuestionario .grillaPreguntas .btn {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #001219ff;
        border-color: #001219ff;
        text-align: center;
        font-weight: bold; }
        main .cuestionario .grillaPreguntas .btn:hover {
          background-color: #ee9b00ff;
          border-color: #ee9b00ff; }
        main .cuestionario .grillaPreguntas .btn a {
          text-decoration: none;
          color: #ee9b00ff;
          font-weight: bold;
          text-align: center; }
          main .cuestionario .grillaPreguntas .btn a:hover {
            color: #001219ff; }
      main .cuestionario .grillaPreguntas .recomendaciones {
        margin-top: 30px; }
        main .cuestionario .grillaPreguntas .recomendaciones .titleRecomendaciones {
          font-family: "Encode Sans", sans-serif;
          font-size: 1.5rem;
          font-weight: bold;
          color: #001219ff;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 20px; }
        main .cuestionario .grillaPreguntas .recomendaciones .textRecomendaciones {
          font-family: "Encode Sans", sans-serif;
          font-weight: bold;
          text-align: center;
          margin-bottom: 20px;
          margin-left: 180px;
          margin-right: 180px; }
          main .cuestionario .grillaPreguntas .recomendaciones .textRecomendaciones strong {
            color: #ee9b00ff; }
        main .cuestionario .grillaPreguntas .recomendaciones .tarjetasRecomendaciones .card-group {
          padding-bottom: 30px;
          border-radius: 10%; }
          main .cuestionario .grillaPreguntas .recomendaciones .tarjetasRecomendaciones .card-group .card {
            width: 200px;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 10px;
            border-color: #001219ff;
            border: #001219ff 1.5px solid; }
            main .cuestionario .grillaPreguntas .recomendaciones .tarjetasRecomendaciones .card-group .card img {
              width: 100%;
              text-align: center;
              border-radius: 10px; }
            main .cuestionario .grillaPreguntas .recomendaciones .tarjetasRecomendaciones .card-group .card p {
              font-family: "Encode Sans", sans-serif;
              color: #001219ff; }
            main .cuestionario .grillaPreguntas .recomendaciones .tarjetasRecomendaciones .card-group .card .card-body .card-title {
              font-family: "Encode Sans", sans-serif;
              font-size: 1.2rem;
              font-weight: bold;
              color: #ee9b00ff; }
            main .cuestionario .grillaPreguntas .recomendaciones .tarjetasRecomendaciones .card-group .card .card-body .card-text {
              font-family: "Encode Sans", sans-serif;
              color: #001219ff; }
            main .cuestionario .grillaPreguntas .recomendaciones .tarjetasRecomendaciones .card-group .card .card-footer {
              font-family: "Encode Sans", sans-serif;
              color: #001219ff;
              font-weight: bold; }
  main hr {
    color: #ee9b00ff;
    border: #ee9b00ff 2px solid;
    margin-top: 40px; }

footer {
  width: 100%;
  height: 150px;
  background-color: #ee9b00ff; }
