.hide {
    display: none;
}
main {
    background-color: nth($color-palette, 6);

    .cuestionario {
        font-family: $font-principal;
        background-color: nth($color-palette, 6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .grillaPreguntas {
            margin-bottom: 30px;

            .saludo {
                text-align: center;
            }

            .tipoIngredientes {
                text-align: center;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .titulo-3 {
                    text-align: center;
                    color: nth($color-palette, 1);
                    font-weight: bold;
                    margin-top: 10px;
                    padding-bottom: 20px;
                }

                .seleccion {
                    border: nth($color-palette, 2) 2px solid;
                    color: nth($color-palette, 1);
                    border-radius: 10px;
                    width: 100%;

                    h6 {
                        font-weight: bold;
                        margin-top: 10px;
                    }

                    .seleccionIngredientes {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding-left: 30px;
                        padding-right: 30px;

                        article {
                            .contenedor {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                img {
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    border: none;
                                    background-color: transparent;
                                    color: nth($color-palette, 2);
                                    font-weight: bold;

                                    &:hover {
                                        transform: scale(1.1);
                                    }
                                }

                                p {
                                    font-weight: bold;
                                    color: nth($color-palette, 1);
                                }
                            }
                        }
                    }

                    .ingredientes {
                        margin-top: 10px;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr 1fr;

                        article {
                            .contenedor {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                img {
                                    padding-left: 30px;
                                    padding-right: 30px;
                                    border: none;
                                    background-color: transparent;
                                    color: nth($color-palette, 2);
                                    font-weight: bold;

                                    &:hover {
                                        transform: scale(1.1);
                                    }
                                }

                                p {
                                    font-weight: bold;
                                    color: nth($color-palette, 2);
                                }
                            }
                        }
                    }
                }
            }
        }

        #btn-final {
            background-color: nth($color-palette, 2);
            border-color: nth($color-palette, 2);
            text-align: center;
            font-weight: bold;
            width: 150px;
            height: 40px;

            &:hover {
                background-color: nth($color-palette, 1);
                border-color: nth($color-palette, 1);
            }

            a {
                text-decoration: none;
                color: nth($color-palette, 1);
                font-weight: bold;
                text-align: center;

                &:hover {
                    color: nth($color-palette, 2);
                }
            }
        }
    }

    #modal-receta {
        .modal-dialog {
            .modal-content {
                font-family: $font-principal;
                background-color: nth($color-palette, 6);
                .modal-header {
                    display: flex;
                    flex-direction: column;
                    .btn-close {
                        color: nth($color-palette,1);
                    }
                    .modal-title {
                        color: nth($color-palette,1);
                        font-weight: bold;
                        text-align: center;
                        font-size: nth($font-size,4);
                    }
                    p {
                        font-size: nth($font-size,6);
                        font-weight: bold;

                        strong {
                            color: nth($color-palette,1);
                        }
                    }
                }
                .modal-body {
                    font-family: $font-principal;
                    .recetaFinal {
                        text-align: center;
                        h4 {
                            text-align: center;
                            text-decoration: underline;
                            font-weight: bold;
                            color:nth($color-palette,1);
                            font-size: nth($font-size,5);
                        }
                        img {
                            text-align: center;
                            width: 100%;
                            height: 100%;
                        }
                        p {
                            margin-top: 15px;

                        }
                        a {
                            text-decoration: none;
                            color: nth($color-palette,1);
                            font-weight: bold;
                        }
                        button {
                            text-align: center;
                            background-color: nth($color-palette,1);
                            border-color: nth($color-palette,1);
                            color: nth($color-palette,2);
                            font-weight: bold;

                            &:hover {
                                background-color: nth($color-palette,2);
                                border-color: nth($color-palette,2);
                                color: nth($color-palette,1);
                            }
                        }
                    }
                    .noRecetaFinal {
                        text-align: center;
                        font-weight: bold;
                        color:nth($color-palette,2);
                        font-size: nth($font-size,5);
                    }
                }
                .modal-footer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    #btn-cerrar {
                        background-color: nth($color-palette,1);
                        border-color: nth($color-palette,1);
                        color: nth($color-palette,2);
                        width: 110px;
                        height: 40px;
                        font-weight: bold;
                        margin-bottom: 30px;
                        text-align: center;
                        margin:15px;

                        &:hover {
                            background-color: nth($color-palette,2);
                            border-color: nth($color-palette,2);
                            color: nth($color-palette,1);
                        }
                    }
                    #btn-whatsapp {
                        background-color: nth($color-palette,1);
                        border-color: nth($color-palette,1);
                        color: nth($color-palette,2);
                        width: 210px;
                        height: 40px;
                        font-weight: bold;
                        margin-bottom: 30px;
                        text-align: center;
                        margin:15px;

                        &:hover {
                            background-color: nth($color-palette,2);
                            border-color: nth($color-palette,2);
                            color: nth($color-palette,1);
                        }
                    }
                }
            }
        }
    }

    #modal-whatsapp {
        .modal-dialog {
            .modal-content {
                font-family: $font-principal;
                background-color: nth($color-palette, 6);
                .modal-header {
                    display: flex;
                    flex-direction: column;
                    .btn-close {
                        color: nth($color-palette,1);
                    }
                    .modal-title {
                        color: nth($color-palette,1);
                        font-weight: bold;
                        text-align: center;
                        font-size: nth($font-size,4);
                    }
                }
                .modal-body {
                    p {
                        font-size: nth($font-size,6);
                        font-weight: bold;
                        text-align: center;

                        strong {
                            color: nth($color-palette,1);
                        }
                    }
                }
                .modal-footer {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    #btn-aceptar-wpp {
                        background-color: nth($color-palette, 1);
                        border-color: nth($color-palette, 1);
                        color: nth($color-palette,2);
                        text-align: center;
                        font-weight: bold;
                        width: 110px;
                        height: 40px;

                        &:hover {
                            background-color: nth($color-palette, 2);
                            border-color: nth($color-palette, 2);
                            color: nth($color-palette,1);
                        }
                    }
                }
            }
        }
    }

    #modal-recomendados {
        .modal-dialog {
            .modal-content {
                font-family: $font-principal;
                background-color: nth($color-palette, 6);
                .modal-header {
                    display: flex;
                    flex-direction: column;
                    .btn-close {
                        color: nth($color-palette,1);
                    }
                    .modal-title {
                        color: nth($color-palette,1);
                        font-weight: bold;
                        text-align: center;
                        font-size: nth($font-size,4);
                    }
                }
                .modal-body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .form-floating {
                        .form-control {
                            height: 200px;
                            width: 400px; 
                            text-align: start;
                        }
                    }
                    #btn-aceptar-recomendados {
                        background-color: nth($color-palette, 1);
                        border-color: nth($color-palette, 1);
                        color: nth($color-palette,2);
                        text-align: center;
                        font-weight: bold;
                        width: 110px;
                        height: 40px;
                        margin-top: 10px;

                        &:hover {
                            background-color: nth($color-palette, 2);
                            border-color: nth($color-palette, 2);
                            color: nth($color-palette,1);
                        }
                    }
                }
            }
        }
    }
    
    #modal-confirmacion-recomendacion {
        .modal-dialog {
            .modal-content {
                font-family: $font-principal;
                background-color: nth($color-palette, 6);
                .modal-header {
                    display: flex;
                    flex-direction: column;
                    .btn-close {
                        color: nth($color-palette,1);
                    }
                }
                .modal-body {
                    .modal-title {
                        color: nth($color-palette,1);
                        font-weight: bold;
                        text-align: center;
                        font-size: nth($font-size,4);
                    }
                }
                .modal-footer {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    #btn-volver {
                        background-color: nth($color-palette, 1);
                        border-color: nth($color-palette, 1);
                        color: nth($color-palette,2);
                        text-align: center;
                        font-weight: bold;
                        width: 110px;
                        height: 60px;

                        &:hover {
                            background-color: nth($color-palette, 2);
                            border-color: nth($color-palette, 2);
                            color: nth($color-palette,1);
                        }
                    }
                    #btn-confirmar {
                        background-color: nth($color-palette, 1);
                        border-color: nth($color-palette, 1);
                        color: nth($color-palette,2);
                        text-align: center;
                        font-weight: bold;
                        width: 110px;
                        height: 60px;

                        &:hover {
                            background-color: nth($color-palette, 2);
                            border-color: nth($color-palette, 2);
                            color: nth($color-palette,1);
                        }
                    }
                }
            }
        }
    } 
    
    .recomendaciones {
        margin-top: 30px;

        .titleRecomendaciones {
            font-family: $font-principal;
            font-size: nth($font-size, 4);
            font-weight: bold;
            color: nth($color-palette, 2);
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            }

            .textRecomendaciones {
                font-family: $font-principal;
                font-weight: bold;
                text-align: center;
                margin-bottom: 20px;
                margin-left: 180px;
                margin-right: 180px;

                strong {
                    color: nth($color-palette, 1);
                }
            }

            .tarjetasRecomendaciones {
                .card-group {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    padding-bottom: 30px;
                    border-radius: 10%;

                    .card {
                        display: flex;
                        justify-content: center;
                        width: 236px;
                        height: 570px;
                        margin-left: 5px;
                        margin-right: 5px;
                        border-radius: 10px;
                        border-color: nth($color-palette, 2);
                        border: nth($color-palette, 2) 1.5px solid;

                        img {
                            display: flex;
                            justify-content: center;
                            width: 234px;
                            height: 256px;
                            text-align: center;
                            border-radius: 10px;
                        }

                        .card-body {
                            .card-title {
                                font-family: $font-principal;
                                font-size: nth($font-size, 5);
                                font-weight: bold;
                                color: nth($color-palette, 1)
                            }

                            .card-text {
                                font-family: $font-principal;
                                color: nth($color-palette, 2);
                            }
                        }

                        a {
                            font-family: $font-principal;
                            font-weight: bold;
                            color: nth($color-palette, 1);
                        }

                        .card-footer {
                            font-family: $font-principal;
                            color: nth($color-palette, 2);
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    

    .hrDivisor {
        color: nth($color-palette, 1);
        border: nth($color-palette, 1) 2px solid;
        margin-top: 40px;
    }

    .hrSeleccion {
        color: nth($color-palette, 2);
        border: nth($color-palette, 2) 2px solid;
        margin-top: 40px;
    }
}
