$font-principal: "Encode Sans", sans-serif;

$font-size:
5rem,
3rem,
2rem,
1.5rem,
1.2rem,
1rem,
0.8rem;

$color-palette:
#ee9b00ff,
#001219ff,
#005f73ff,
#0a9396ff,
#94d2bdff,
#e9d8a6ff,
#ca6702ff,
#bb3e03ff,
#ae2012ff,
#9b2226ff,
white;